<a href="javascript:history.back()">Go Back</a>

<h1>Company Board</h1>

{{#each companies}}
    <div class="companies">

      <section>
        <h2>
            <a href="http://{{this.companies.website}}">{{this.companies.name}}</a>
        </h2>
            <h4>{{this.companies.ceo.title}}</h4>
            <h4>{{this.companies.ceo.name}}</h4>
            <div class="img-div">
              <img src="{{this.companies.squareLogo}}" alt="" class="img"/>
            </div>
      </section>

    </div>

{{/each}}
