<a href="javascript:history.back()">Go Back</a>
<h1>Company Search</h1>
<div id="userid">{{user.id}}</div>
<div id="searchTerm">{{search}}</div>
<div></div>
{{#each companies}}
    <h2>{{this.name}} <a id="{{index}}"href="/companyAdd/{{search}}/{{index}}">Add to List </a></h2>
{{/each}}


<!--<script src="/javascripts/orbit.js"></script>-->
<!--<script src="/javascripts/axios.js"></script>-->
<!--<script src="/javascripts/client.js"></script>-->
